.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.education-container {
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
}