.skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: auto;
    justify-content: start;
    align-items: center;
    height: 100%;
    padding-bottom: 4rem;
    background-color: rgba(68, 143, 163, 0.7);
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.skills-header {
    display: flex;
    flex-direction: row;
    height: 4rem;
    width: 100%;
    padding-top: 2rem;
    font-size: 2.5rem;    
    color: white;
    background-color: rgba(46, 46, 40, 1);
}

.skills-header p {
    width: 250px;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-clip: padding-box;
    border-top: 7px solid rgb(26, 26, 26);
    border-left: 7px solid rgb(26, 26, 26);
    border-right: 7px solid rgb(26, 26, 26);
    border-radius: 10px 10px 0 0;
    background-color: rgba(68, 143, 163, 0.7);
}

.skills-border-left {
    position: relative;
    content: "";
    width: 8%;
    height: 89%;
    border-bottom: 7px solid rgb(26, 26, 26);
}

.skills-border-right {
    position: relative;
    content: "";
    width: 100%;
    height: 89%;
    border-bottom: 7px solid rgb(26, 26, 26);
}

