.about-container {
  display: flex;
  flex-direction: column;
  background: rgb(41, 103, 121);
}

.about-header {
  display: flex;
  height: 4rem;
  padding-top: 20px;
  font-size: 2.5rem;
  background: linear-gradient(
    180deg,
    rgba(33, 33, 33, 1) 5%,
    rgba(45, 45, 45, 1) 70%
  );
}

.about-header p {
  width: 250px;
  margin: 0;
  border-top: 7px solid rgb(15, 15, 15);
  border-left: 7px solid rgb(15, 15, 15);
  border-right: 7px solid rgb(15, 15, 15);
  border-radius: 10px 10px 0 0;
  background: rgb(41, 103, 121);
}

.about-border-left {
  content: "";
  width: 92%;
  height: 89%;
  border-bottom: 7px solid rgb(15, 15, 15);
}

.about-border-right {
  content: "";
  width: 8%;
  height: 89%;
  border-bottom: 7px solid rgb(15, 15, 15);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
  letter-spacing: 0.025rem;
}

.about-intro {
  width: calc(100% - 20rem);
  padding: 1rem 0 2rem 0;
  text-align: left;
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 900px;
}

.about-education {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20rem);
  height: 100%;
  gap: 3rem;
  max-width: 900px;
  padding-bottom: 3rem;
}

@media screen and (max-width: 1400px) {
  .about-intro {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .about-intro {
    font-size: 1.3rem;
  }
}