.education-card-uga {
  display: flex;
  border-radius: 0.7rem;
  background: linear-gradient(
    0deg,
    rgba(99, 38, 38, 1) 4%,
    rgba(40, 44, 52, 1) 40%
  );
  box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.53);
}

.education-card-gt {
  display: flex;
  border-radius: 0.7rem;
  background: linear-gradient(
    0deg,
    rgba(121, 106, 69, 1) 4%,
    rgba(40, 44, 52, 1) 40%
  );
  box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.53);
}

.education-card-img {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 28%;
  padding: 1rem;
}

.education-card-uga img {
  width: 100%;
  border: solid 2px rgb(121, 123, 129);
  border-radius: 0.7rem;
  background: rgb(0, 0, 0);
}

.education-card-gt img {
  width: 100%;
  border: solid 2px rgb(121, 123, 129);
  border-radius: 0.7rem;
  background: rgb(0, 46, 83);
}

.education-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem 2rem 1rem 0;
  text-align: left;
}

.education-card-body h2 {
  margin: 0;
  font-size: 1.4rem;
}

.education-card-body p {
  margin: 0;
  font-size: 1.05rem;
}

.education-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.education-card-info {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 5px;
  font-family: "Open Sans";
}

@media screen and (max-width: 1300px) {
  .education-card-body h2 {
    font-size: 1.2rem;
    max-width: 230px;
  }

  .education-card-body p {
    margin: 0;
    font-size: 0.95rem;
  }

  .education-card-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }

  .education-card-header p {
    padding-top: 0.1rem;
  }
}
