.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(40, 40, 40);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-top: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

input {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    border: solid 2px transparent;
    background-color: rgb(20, 20, 20);
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
    transition: all 0.3s ease-in-out;
}

textarea {
    width: 100%;
    height: 150px;
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 12px 20px;
    border-radius: 8px;
    border: solid 2px transparent;
    background-color: rgb(20, 20, 20);
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 80px;
    transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
    outline: none;
    border: solid 2px rgb(41, 103, 121);
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

button {
    display: inline-block;
    width: 130px;
    margin-inline: auto;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border: solid 2px rgb(41, 103, 121);
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: rgba(41, 103, 121, 0.5);
}