.navbar {
  position: fixed;
  display: flex;
  margin-inline: auto;
  height: 5rem;
  width: 100%;
  justify-content: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  z-index: 100;
}

.nav-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.8);
  border-radius: 0 0 10px 10px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3rem;
  list-style-type: none;
}

.nav-items li {
  margin-inline: 1rem;
}

.nav-items a {
  position: relative;
  text-decoration: none;
  color: #dadada;
  font-weight: 600;
}

.nav-items a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 3px;
  border-bottom: 3px solid rgb(133, 183, 157);
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  transform: scaleX(0);
}

.nav-items a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-items a.active:before {
  filter: drop-shadow(0 2px 3px rgb(133, 183, 157));
  visibility: visible;
  transform: scaleX(1);
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
}

.social-icon {
  margin-inline: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.25s ease-in-out;
}

.social-icon:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}
