.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(30, 30, 30);
  padding-top: 0.5rem;
}

.footer-list {
  display: flex;
  gap: 0.8rem;
}

.footer-icon {
  color: rgba(255, 255, 255, 0.507);
  font-size: 2rem;
  padding: 0.5rem;
  height: 1.8rem;
  width: 1.8rem;
  transition: all 0.25s ease-in-out;
}

.footer-icon:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.2);
}

.footer p {
  color: rgba(255, 255, 255, 0.781);
  margin-top: 0.2rem;
}
